<p id="notice"><%= notice %></p>

<h1>Listing Company Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_requests.each do |company_request| %>
      <tr>
        <td><%= link_to 'Show', company_request %></td>
        <td><%= link_to 'Edit', edit_company_request_path(company_request) %></td>
        <td><%= link_to 'Destroy', company_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company request', new_company_request_path %>
